<div class="example-container">
    <mat-dialog-content>

        <form [formGroup]="form">

            <mat-form-field appearance="outline">
                <mat-label>First Name </mat-label>
                <input matInput placeholder="firstName" formControlName="firstName">

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name </mat-label>
                <input matInput placeholder="lastName" formControlName="lastName">

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Birth Date </mat-label>
                <input matInput [matDatepicker]="picker" placeholder="birthDate" formControlName="birthDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>


            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Cin </mat-label>
                <input matInput placeholder="Cin" formControlName="Cin">

            </mat-form-field>
            <label id="example-radio-group-label">
                Choose Gender
            </label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                formControlName="gender">
                <mat-radio-button class="example-radio-button" *ngFor="let i of gender" [value]="i">{{i}}
                </mat-radio-button>

            </mat-radio-group>




            <mat-form-field appearance="outline">
                <mat-label>Personnel Email </mat-label>
                <input matInput placeholder="Ex. pat@example.com" formControlName="personnelEmail" type="email">

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Work Email </mat-label>
                <input matInput placeholder="Ex. pat@example.com" formControlName="workEmail" type="email">

            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Password </mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label> PersonnelPhone </mat-label>
                <input matInput placeholder="personnelPhone" formControlName="personnelPhone">

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Work Phone </mat-label>
                <input matInput placeholder="workPhone" formControlName="workPhone">

            </mat-form-field>



            <mat-form-field appearance="outline">
                <mat-label>Contrat Type </mat-label>

                <mat-select formControlName="idContrat" placeholder="Contrat Type">
                    <mat-option *ngFor="let i of contrats" [value]="i.id">
                        {{i.shortDescription}}

                    </mat-option>


                </mat-select>
            </mat-form-field>



            <mat-form-field appearance="outline">
                <mat-label>Diplome </mat-label>
                <input matInput placeholder="diplome" formControlName="diplome">

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Adress </mat-label>

                <input matInput placeholder="adress" formControlName="adress">

            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>City </mat-label>
                <input matInput placeholder="city" formControlName="city">

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>region </mat-label>
                <input matInput placeholder="region" formControlName="region">

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contry</mat-label>
                <input matInput placeholder="contry" formControlName="contry">

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Postal Code </mat-label>
                <input matInput placeholder="postalCode" formControlName="postalCode">

            </mat-form-field>





            <mat-form-field appearance="outline">
                <mat-label>CNSS Number </mat-label>
                <input matInput placeholder="cnssNumber" formControlName="cnssNumber">

            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Departement </mat-label>

                <mat-select formControlName="idDepartement" placeholder="Departement">
                    <mat-option *ngFor="let i of deps" [value]="i.id">
                        {{i.shortDescription}}

                    </mat-option>


                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Hours per Week</mat-label>
                <input matInput placeholder="hoursPerWeek" formControlName="hoursPerWeek">

            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-select formControlName="idRole" placeholder="Role">
                    <mat-option *ngFor="let i of roles" [value]="i.id">
                        {{i.name}}
                    </mat-option>
                </mat-select>


            </mat-form-field>
           

            
                <mat-form-field appearance="outline">
                    <mat-label>Posts </mat-label>

                    <mat-select formControlName="idPost" placeholder="posts">
                        <mat-option *ngFor="let i of posts" [value]="i.id">
                            {{i.shortDescription}}

                        </mat-option>


                    </mat-select>
                </mat-form-field>
            
                <app-upload  (onUploadFinished)="uploadFinished($event)"></app-upload>
            <!--lezem  condition d'affichage -->
            <mat-form-field appearance="outline">
                <input matInput formControlName="endDate" type="dateTime-local">
            </mat-form-field>
        </form>

    </mat-dialog-content>
    <mat-dialog-actions>

        <button mat-raised-button (click)="onsubmit()">{{action}}</button>

    </mat-dialog-actions>
</div>