<div class="widget-wrap">
   
    <h1 style="margin-top:auto;font-weight: 500;">Employee History </h1>

    <div class="vtl">
        <div class="event">
            <h1>Posts</h1>
            <div *ngFor="let e of detailsPosts">
                <p class="date">{{e.startDate |date}}</p>
                <p class="txt">{{e.post.shortDescription}}</p>
            </div>
            <h1>Contrats</h1>
            <div *ngFor="let e of detailsContrats">
                <p class="date">{{e.startDate |date}}</p>
                <p class="txt">{{e.contrat.shortDescription}}</p>
            </div>
        </div>

    </div>



</div>