.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;


    
      &__select {

        margin-left: 30%;
      }
      &__search {
        margin-right: 20%;
        flex: 25% 0 0;
        height: 100%;


        button {
          
            width: 50%;
            height: calc(100%-1,34375em);
           
        }
    


       
      }
   }