.personnal {
  margin-top: 50px;
}
.example-card {
    max-width: 200%;
    max-height: 500px;
  }

  .example-card1 {
 
   max-width: 700px;
   max-height: 400px;

  }
  img{
     margin-top:20px;
     margin-left:20px;
      border-radius:90%;
      width :100px ;
      height : 100px;
    
  }
  
  
  