<div *ngIf="rh">


    <div class="payroll">

        <div class="payroll__input">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Keywords</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mounth ">
            </mat-form-field>
        </div>
        <div class="payroll__submit">
            <button mat-icon-button color="primary" (click)="create()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>

    </div>



    <table mat-table [dataSource]="dataSource" matSort>

       
        <ng-container matColumnDef="Employee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee </th>
            <td mat-cell *matCellDef="let row"> {{row.employeeFullName}} </td>
        </ng-container>

  
        <ng-container matColumnDef="Mounth">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mounth </th>
            <td mat-cell *matCellDef="let row"> {{row.mounth}} </td>
        </ng-container>

        <ng-container matColumnDef="Year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
            <td mat-cell *matCellDef="let row"> {{row.year}} </td>
        </ng-container>
        <ng-container matColumnDef="Salary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
            <td mat-cell *matCellDef="let row"> {{row.fixedSalary}} </td>
        </ng-container>

        <ng-container matColumnDef="MealTicket">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gift Cards </th>
            <td mat-cell *matCellDef="let row"> {{row.mealTicket}} </td>
        </ng-container>

        <ng-container matColumnDef="TicketPassGift">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dinner Gift Cards  </th>
            <td mat-cell *matCellDef="let row"> {{row.ticketPassGift}} </td>
        </ng-container>

        <ng-container matColumnDef="Prime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prime </th>
            <td mat-cell *matCellDef="let row"> {{row.prime}} </td>
        </ng-container>

        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row">
           
                <tr *ngIf="row.status=='Not payed'" style="color:red;">Not payed</tr>
             
                <tr *ngIf="row.status=='Payed'" style="color:green;">Payed</tr>
            </td>
        </ng-container>
        <ng-container matColumnDef="Check">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Check </th>
            <td mat-cell *matCellDef="let row">
                <button   mat-icon-button  *ngIf="row.status =='Not payed'" color="primary" (click)="check(row)">
                    <mat-icon>done</mat-icon>
                </button>
               
            </td>
        </ng-container>




        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of Pays"></mat-paginator>
</div>