<div class="example-container">
  
    <mat-dialog-content>
        <mat-error *ngIf="invalid" >Fill the required fields !</mat-error>
        <form [formGroup]="form">
              
              <mat-form-field appearance="outline">
                <mat-label>Year* </mat-label>

                <mat-select formControlName="year"  placeholder="choose Year">
                    <mat-option *ngFor="let i of years" [value]="i" >
                        {{i}}

                    </mat-option>


                </mat-select>
                <mat-error *ngIf="(AddFormControl.year.touched || submitted) && AddFormControl.year.errors?.required">
                    Year is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mounth * </mat-label>

                <mat-select formControlName="mounth"  placeholder="choose Mounth">
                    <mat-option *ngFor="let i of mounths" [value]="i" >
                        {{i}}

                    </mat-option>


                </mat-select>
                <mat-error *ngIf="(AddFormControl.mounth.touched || submitted) && AddFormControl.mounth.errors?.required">
                    Mounth is required
                </mat-error>
            </mat-form-field>


         

            <mat-form-field appearance="outline">
                <mat-label>Dinner Gift Cards </mat-label>

                <input matInput  formControlName="mealTicket" >

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Employee* </mat-label>

                <mat-select formControlName="idEmployee" >
                    <mat-option *ngFor="let i of employees" [value]="i.id" >
                           {{i.firstName}} {{i.lastName}}

                    </mat-option>


                </mat-select>
                <mat-error *ngIf="(AddFormControl.idEmployee.touched || submitted) && AddFormControl.idEmployee.errors?.required">
                    Employee is required
                </mat-error>
            </mat-form-field>
             
            <mat-form-field appearance="outline">
                <mat-label>Gift Cards </mat-label>

                <input matInput formControlName="ticketPassGift"  >

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>prime </mat-label>

                <input matInput placeholder="prime" formControlName="prime" >

            </mat-form-field>
            <div class="line">
            <mat-form-field   class="line__half" appearance="outline">
                <mat-label>Salary* </mat-label>

                <input matInput placeholder="Salary" formControlName="fixedSalary"   >
                <mat-error *ngIf="(AddFormControl.fixedSalary.touched || submitted) && AddFormControl.fixedSalary.errors?.required">
                    Salary is required
                </mat-error>
                

            </mat-form-field>
           </div>
       
           
        </form>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button   mat-raised-button mat-dialog-close color="warn">Cancel</button>  
        <button mat-raised-button color="primary" (click)="onsubmit()">Save</button>

    </mat-dialog-actions>
</div>
