
<div class="d-flex align-items-center auth px-0" style="margin-top:10%;">
    <div class="row w-100 mx-0">
      <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
          <h1 style="text-align:center">Reset password !</h1>
          <form class="pt-3" [formGroup]="form" >
           
           
            <div class="form-group">
              <!--div class="alert alert-danger" *ngIf="(loginFormControl.password.touched || submitted) && loginFormControl.password.errors?.required">
                Password is required
              </div-->
             <!--div class="alert alert-danger" *ngIf="loginFormControl.password.touched && loginFormControl.password.errors?.invalidPassword">
               Password should have minimum 6 characters
             </div-->
             <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><span class="mdi mdi-key"></span></div>
              </div>
              <input type="password" class="form-control form-control-lg"  formControlName="password" placeholder=" New Password">
             </div>
            </div>
           
          
              <button class="btn-lg btn-block font-weight-medium" (click)="reset()" type="submit">Reset password</button>
  
           
          
          </form>
        </div>
      </div>
    </div>
  </div>