<!--mat-horizontal-stepper [linear]="isLinear" #stepper>

        <mat-step>
            <ng-template matStepLabel>Fill out your name</ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Fill out your prenom</ng-template>
        </mat-step>
    </mat-horizontal-stepper-->

<mat-card class="example-card">
    <mat-card-header>
        <img mat-card-image [src]="createImgPath(employeeInfo.imageUrl)">

    </mat-card-header>

    <mat-card-content>
        <p>
            {{employeeInfo.post.shortDescription}}
        </p>
        <p>
            {{employeeInfo.contrat.shortDescription}}
        </p>
        <mat-divider></mat-divider>
        <p>{{employeeInfo.workEmail}}</p>
        <mat-divider></mat-divider>
        <p>{{employeeInfo.workPhone}}</p>
    </mat-card-content>

</mat-card>