<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="height:55px;">
  <div class="text-center navbar-brand-wrapper ">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/Finlogik-Logo.png" style="top: -17PX; left: -25px;" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize"
      (click)="toggleSidebar()">
      <span class="mdi mdi-menu"></span>
    </button>
    <button (click)="in()">in</button>
    <button (click)="out()">out</button>
    <ul class="navbar-nav navbar-nav-right" >
      <li   class="nav-item dropdown" ngbDropdown  *ngIf="displayNotificationIcon">
        <a   class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" ngbDropdownToggle >
          <i class="mdi mdi-bell-outline"></i>
          <div class="numberCircle" *ngIf="notification && notification?.count>0" style="cursor: pointer;">  
            {{notification?.count}}
          </div>  

  
         
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" ngbDropdownMenu aria-labelledby="notificationDropdown" style="width:300px;" >
          <h6 class="p-3 mb-0">Notifications</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item"  *ngFor="let msg of messages">
           
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center" style="width:300px;">
              <p class="text-gray ellipsis">
                
             {{msg.message}}   <button mat-icon-button  type="button"  aria-label="Remove Selected File(s)" (click)="deleteNotification(msg)">  <mat-icon>close</mat-icon>
               </button>
              </p>
             
              
             
            </div>
          </a>
          <div class="dropdown-divider"></div>
        
          
        </div>
      </li>
      <li class="nav-item nav-profile dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="profileDropdown" ngbDropdownToggle>
          <div class="nav-profile-img">
            <img [src]="createImgPath(employeeInfo.imageUrl)" alt="image">
            <span class="availability-status online"></span>
          </div>
          <div class="nav-profile-text">
            <p class="mb-1 text-black">{{employeeInfo.firstName}} {{employeeInfo.lastName}}</p>
          </div>
        </a>
        <div class="dropdown-menu navbar-dropdown" ngbDropdownMenu aria-labelledby="profileDropdown">
          <button class="mdi mdi-account dropdown-item" (click)="showProfil()">
            Profil
          </button>
          <div class="dropdown-divider"></div>
          <button class="mdi mdi-logout mr-2 btn btn-light dropdown-item" (click)="logout()">
            Logout
          </button>
        </div>
      </li>

    </ul>

  </div>
</nav>