<div class="example-container">
    <mat-dialog-content>

        <form [formGroup]="form">

            <mat-form-field appearance="outline">
                <mat-label> Name </mat-label>
                <input matInput placeholder="Name" formControlName="OfferName">

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Description </mat-label>
                <textarea  matInput  placeholder="description" formControlName="OfferDescription"></textarea>

            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label> Contract Type</mat-label>
                <mat-select formControlName="type" >
                      <mat-option *ngFor="let type of contractTypes"  [value]="type.shortDescription" >{{type.shortDescription}}</mat-option>
                </mat-select>
             </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OfferMinExperience </mat-label>
                <input matInput  placeholder="MinExperience" formControlName="OfferMinExperience" type="number">

            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Choose a Expiration Date</mat-label>
                <input matInput [matDatepicker]="picker"  formControlName="ExpirationDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div>
                <label> Offer IsActive: </label>
                <mat-radio-group [formControl]="IsDeleted">
                  <mat-radio-button value="False">Activate</mat-radio-button>
                  <mat-radio-button value="True">UnActivate</mat-radio-button>
                </mat-radio-group>
              </div>

        </form>

    </mat-dialog-content>
    <mat-dialog-actions>

        <button mat-raised-button (click)="onsubmit()">{{action}}</button>

    </mat-dialog-actions>
</div>
