<div class="example-container">
    <mat-dialog-content>

        <form [formGroup]="form">

            <mat-form-field appearance="outline">
                <mat-label> Name </mat-label>
                <input matInput [errorStateMatcher]="matcher" placeholder="Name" formControlName="name">

            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Description </mat-label>
                <input matInput [errorStateMatcher]="matcher" placeholder="description" formControlName="description">

            </mat-form-field>


























            <mat-form-field appearance="outline">
                <mat-label>CNSS Number </mat-label>
                <input matInput [errorStateMatcher]="matcher" placeholder="cnssNumber" formControlName="cnssNumber">

            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Hours per Week</mat-label>
                <input matInput [errorStateMatcher]="matcher" placeholder="hoursPerWeek" formControlName="hoursPerWeek">

            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-select formControlName="idRole" placeholder="Role">
                    <mat-option [errorStateMatcher]="matcher" *ngFor="let i of roles" [value]="i.id">
                        {{i.name}}
                    </mat-option>
                </mat-select>


            </mat-form-field>
            <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>

            <mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Posts </mat-label>

                    <mat-select formControlName="idPost" placeholder="posts">
                        <mat-option *ngFor="let i of posts" [value]="i.id">
                            {{i.shortDescription}}

                        </mat-option>


                    </mat-select>
                </mat-form-field>
            </mat-form-field>









        </form>

    </mat-dialog-content>
    <mat-dialog-actions>

        <button mat-raised-button (click)="onsubmit()">{{action}}</button>

    </mat-dialog-actions>
</div>