<div class="addrequest">
    <button   mat-icon-button color="primary" routerLink="NewLeaveRequest">
        <mat-icon>add_circle</mat-icon>
    </button>
 </div>
 
 
 <app-filter-leaves (filtersChanged)="filtersChangedHandler($event)"></app-filter-leaves> 
<div class="card text-center requestLeave__card">
    <div class="card-header requestLeave__card__header">
        <p style="color: white; font-size:large;"> Leave Requests List </p>
    </div>
    
    <mat-accordion  *ngFor="let request of LeaveRequestList" class="requestLeave__card__lists">

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                 Request Num:  {{request.id}}
                </mat-panel-title>
                <mat-panel-description>
                From   {{request.startDate |date:'mediumDate'}}  TO    {{request.endDate |date:'mediumDate'}}  
                </mat-panel-description>
                <mat-panel-description *ngIf="request.state=='Waiting'">
                   <button style="border-radius:47%;"  mat-flat-button color="primary" >{{request.state}}</button>
                 </mat-panel-description>
                 <mat-panel-description *ngIf="request.state=='validated'" >
                    <button style="border-radius:47%;color: green;"  mat-flat-button  >{{request.state}}</button>
                  </mat-panel-description>
                  <mat-panel-description *ngIf="request.state=='rejected'">
                    <button style="border-radius:47%;"  mat-flat-button color="warn" >{{request.state}}</button>
                  </mat-panel-description>
               
            </mat-expansion-panel-header>
            <div class="card text-center requestLeave__card">

                <div class="card-body requestLeave__card__body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card border-info requestLeave__card__body__form ">
                                <div class="card-header border-info requestLeave__card__body__form__header">
                                    <P style="color:black; font-size: medium;"> General</P>
                                </div>
                                <div class="card-body text-primary requestLeave__card__body__form__table">

                                    <table class="table table-hover requestLeave__card__body__form__tableRows">
                                        <tr>

                                            <td scope="row">num request :</td>
                                            <td>{{request.id}}</td>

                                        </tr>
                                        <tr>

                                            <td scope="row">collaborater :</td>
                                            <td>{{request.firstName}} {{request.lastName}}</td>

                                        </tr>
                                        <tr>

                                            <td scope="row">type of absence :</td>
                                            <td>
                                                {{request.leaveType.description}}
                                            </td>

                                        </tr>
                                        <tr>
                                            <td scope="row"> first day: </td>
                                            <td>
                                                {{request.startDate |date:'EEEE d'}} 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="row"> end day: </td>
                                            <td>
                                                {{request.endDate |date:'EEEE d'}} 
                                            </td>
                                        </tr>

                                    </table>


                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card border-info"
                                style="width:200px; margin-left:10%; margin-top: 10%; border:1px solid;">
                                <div class="card-header border-info requestLeave__card__body__form__header">
                                    <P style="color:black; font-size: medium;"> summary</P>
                                </div>
                                <div class="card-body text-primary" style="padding: 0%;">
                                    <table class="table table-hover">
                                        <tr>
                                            <td scope="row">Sick Leave :</td>

                                            <td>0/5</td>

                                        </tr>
                                        <tr>
                                            <td scope="row">paid Leave :</td>

                                            <td>0/16.5</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="card border-info requestLeave__card__body__EndCard ">
                        <div class="card-header border-info requestLeave__card__body__EndCard__header">
                            <P style="color:black; font-size: medium;"> Days</P>
                        </div>
                        <div class="card-body text-primary requestLeave__card__body__EndCard__table">

                            <table class="table table-hover requestLeave__card__body__EndCard__tableRows">
                                <tr>
                                    <th scope="col">Day</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Quantity</th>

                                </tr>
                                <tr>

                                    <td scope="row">{{request.startDate}}</td>
                                    <td>{{request.startDate |date:'medium'}}</td>
                                    <td>{{request.startDateQuantity}}</td>



                                </tr>
                                <tr *ngIf="!(request.startDate=== this.request.endDate)">

                                    <td scope="row">{{request.endDate}}</td>
                                    <td>{{request.endDate |date:'medium'}}</td>
                                    <td>{{request.endDateQuantity}}</td>



                                </tr>

                            </table>


                        </div>

                    </div>

                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>