<div class="addrequest">
    <button  mat-icon-button color="primary" routerLink="NewLeaveRequest">
        <mat-icon>add_circle</mat-icon>
    </button>
 </div>
 
 
 <app-filter-leaves (filtersChanged)="filtersChangedHandler($event)"></app-filter-leaves> 
<div class="card text-center requestLeave__card">
    <div class="card-header requestLeave__card__header">
        <p style="color: white; font-size:large;"> Leave Requests List </p>
    </div>
    
    <mat-accordion  *ngFor="let request of LeaveRequestList" class="requestLeave__card__lists">

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="pannel">
                <!--mat-panel-title class="pannel__request">
                 Request Num:  {{request.id}}
                </mat-panel-title-->
                <div class="pannel__date">
                <mat-panel-description>
                From   {{request.startDate |date:'mediumDate'}}  TO    {{request.endDate |date:'mediumDate'}}  
                </mat-panel-description>
                </div>
                <div class="pannel__state">
                <mat-panel-description  *ngIf="request.state=='Waiting'">
                   <button style="border-radius:47%;"  mat-flat-button color="primary" >{{request.state}}</button>
                 </mat-panel-description>
                 <mat-panel-description   *ngIf="request.state=='validated'" >
                    <button style="border-radius:47%;"  mat-flat-button   color="accent" >{{request.state}}</button>
                  </mat-panel-description>
                  <mat-panel-description  *ngIf="request.state=='rejected'">
                    <button style="border-radius:47%;"  mat-flat-button color="warn" >{{request.state}}</button>
                  </mat-panel-description>
                  <mat-panel-description  *ngIf="request.state=='canceled'">
                    <button style="border-radius:47%;color:black"  mat-flat-button >{{request.state}}</button>
                  </mat-panel-description>
                </div>
                <div  class="pannel__cancel">
                  <mat-panel-description  *ngIf="request.state=='Waiting' || (request.state=='validated' &&  verifStatus(request.startDate))">
                  <button mat-icon-button  type="button"  aria-label="Remove Selected File(s)" (click)="cancelRequest(request.id)">  <mat-icon>close</mat-icon>  </button>
                 </mat-panel-description>
                </div>
            </mat-expansion-panel-header>

            <div class="card text-center requestLeave__card">

                <div class="card-body requestLeave__card__body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card border-info requestLeave__card__body__form ">
                                <div class="card-header border-info requestLeave__card__body__form__header">
                                    <P style="color:black; font-size: medium;"> General</P>
                                </div>
                                <div class="card-body text-primary requestLeave__card__body__form__table">

                                    <table class="table table-hover requestLeave__card__body__form__tableRows">
                                        <!--tr>

                                            <td scope="row">num request :</td>
                                            <td>{{request.id}}</td>

                                        </tr-->
                                        <tr>


                                            <td scope="row">collaborater :</td>
                                            <td>{{currentEmployee.firstName}} {{currentEmployee.lastName}}</td>

                                        </tr>
                                        <tr>

                                            <td scope="row">type of absence :</td>
                                            <td>
                                                {{request.leaveType.description}}
                                            </td>

                                        </tr>
                                      

                                    </table>


                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card border-info"
                                style="width:200px; margin-left:10%; margin-top: 10%; border:1px solid;">
                                <div class="card-header border-info requestLeave__card__body__form__header">
                                    <P style="color:black; font-size: medium;"> summary</P>
                                </div>
                                <div class="card-body text-primary" style="padding: 0%;">
                                    <table class="table table-hover">
                                        <tr>
                                            <td scope="row">Sick Leave :</td>

                                            <td>{{LeaveTotal.numbertotalSickLeave}}</td>

                                        </tr>
                                        <tr>
                                            <td scope="row">paid Leave :</td>
                                            <td> {{LeaveTotal.numbertotalPaidLeave}}</td>
                                           
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="card border-info requestLeave__card__body__EndCard ">
                        <div class="card-header border-info requestLeave__card__body__EndCard__header">
                            <P style="color:black; font-size: medium;"> Days</P>
                        </div>
                        <div class="card-body text-primary requestLeave__card__body__EndCard__table">

                            <table class="table table-hover requestLeave__card__body__EndCard__tableRows">
                                <tr>
                                  
                                    <th scope="col">Date</th>
                                    <th scope="col">Quantity</th>

                                </tr>
                                <tr>

                                   
                                    <td>{{request.startDate |date:'mediumDate'}}</td>
                                    <td>{{request.startDateQuantity}}</td>



                                </tr>
                                <tr *ngIf="!(request.startDate === request.endDate)">

                                   
                                    <td>{{request.endDate |date:'mediumDate'}}</td>
                                    <td>{{request.endDateQuantity}}</td>



                                </tr>

                            </table>


                        </div>

                    </div>

                </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
    
</div>