<div *ngIf="employee" class="requestLeave">
    <div class="card text-center requestLeave__card">
        <div class="card-header requestLeave__card__header">
            <p style="color: white; font-size:large;"> New Request </p>
        </div>
        <form [formGroup]="form">
        <div class="card-body requestLeave__card__body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="card border-info requestLeave__card__body__form ">
                        <div class="card-header border-info requestLeave__card__body__form__header">
                            <P style="color:black; font-size: medium;"> General</P>
                        </div>
                       
                        <div class="card-body text-primary requestLeave__card__body__form__table">

                            <table class="table table-hover requestLeave__card__body__form__tableRows">
                                <tr>

                                    <td scope="row">collaborater :</td>
                                    <td>{{currentEmployee.firstName}} {{currentEmployee.lastName}}</td>

                                </tr>
                                <tr>

                                    <td scope="row">type of absence :</td>
                                    <td>
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Leave Type</mat-label>
                                            <mat-select [(ngModel)]="idLeaveType"  formControlName="idLeaveType" >
                                                <mat-option *ngFor="let i of leavesType" [value]="i.id">
                                                    {{i.description}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>

                                </tr>
                                <tr>
                                    <td scope="row">comment : </td>
                                    <td>
                                        <mat-form-field class="line__full" appearance="outline">
                                                <textarea matInput class="textarea" formControlName="comment"></textarea>
                                        </mat-form-field>
                                    </td>
                                </tr>

                            </table>


                        </div>
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card border-info"
                        style="width:200px; margin-left:10%; margin-top: 10%; border:1px solid;">
                        <div class="card-header border-info requestLeave__card__body__form__header">
                            <P style="color:black; font-size: medium;"> summary</P>
                        </div>
                        <div class="card-body text-primary" style="padding: 0%;">
                            <table class="table table-hover">
                                <tr>
                                    <td scope="row">Sick Leave :</td>

                                    <td>{{LeaveTotal.numbertotalSickLeave}}</td>
                                   

                                </tr>
                                <tr>
                                    <td scope="row">paid Leave :</td>

                                    <td>{{LeaveTotal.numbertotalPaidLeave}}</td>
                                   
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-hover">
                <tr>
                    <td>
                <tr>
                    <td scope="row">Start date :</td>

                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose Start Date</mat-label>
                            <input matInput [matDatepicker]="picker1"  formControlName="startDate" [(ngModel)]="leaves.start.date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                       
                    </td>
                 
                </tr>
                </td>
                <td>
                    <tr>
                        <td scope="row">End Date :</td>

                        <td>
                            <mat-form-field appearance="fill">
                                <!---->
                                <mat-label>Choose End Date</mat-label>
                                <input matInput  [min]="leaves.start.date" [matDatepicker]="picker2"  formControlName="endDate"[(ngModel)]="leaves.end.date">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        
                        </td>
                        
                       
                    </tr>
                </td>
                </tr>
          
            </table>

            <div class="card border-info requestLeave__card__body__EndCard " *ngIf="leaves.start.date != null && leaves.end.date != null">
                <div class="card-header border-info requestLeave__card__body__EndCard__header">
                    <P style="color:black; font-size: medium;"> Days</P>
                </div>
                <div class="card-body text-primary requestLeave__card__body__EndCard__table">

                    <table class="table table-hover requestLeave__card__body__EndCard__tableRows">
                        <tr>
                            <th scope="col">Day</th>
                            <th scope="col">Date</th>
                            <th scope="col">Quantity</th>
                           
                        </tr>
                        <tr *ngIf="isSameDate()">
                            <td scope="row">{{days[leaves.start.date.getDay()]}}</td>
                            <td>{{leaves.start.date |date:'mediumDate'}}</td>
                            <td>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> Quantity</mat-label>
                                    <mat-select formControlName="startDateQuantity"  >
                                        <mat-option *ngFor="let quantity of quantities.sameDate" [value]="quantity">
                                            {{quantity}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                        <ng-template [ngIf]="!isSameDate()">
                            <tr>
                                <td scope="row">{{days[leaves.start.date.getDay()]}}</td>
                                <td>{{leaves.start.date |date:'mediumDate'}}</td>

                                <td>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label> Quantity</mat-label>
                                        <mat-select  formControlName="startDateQuantity"  >
                                            <mat-option *ngFor="let quantity of quantities.start" [value]="quantity">
                                                {{quantity}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>


                            </tr>

                            <tr>
                                <td scope="row">{{days[leaves.end.date.getDay()]}}</td>
                                <td>{{leaves.end.date |date:'mediumDate'}}</td>
                                <td>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label> Quantity</mat-label>
                                        <mat-select  formControlName="endDateQuantity">
                                            <mat-option *ngFor="let quantity of quantities.end" [value]="quantity">
                                                {{quantity}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </ng-template>
                   
                    </table>
            
                </div>
      
                <div class="card-footer">
                  
                    <button mat-raised-button color="warn" (click)="cancel()">cancel</button>
                    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
                    <mat-error *ngIf="numberDaysTotal && verifnumberPaidLeave"> Insuffisant number of Paid leave days  </mat-error>
                    <mat-error *ngIf="numberDaysTotal && verifnumberSickLeave"> Insuffisant number of Sick leave days  </mat-error>
                  
                </div>
             
            </div>
              
        </div>
        </form>
    </div>
</div>