<div class="d-flex align-items-center auth px-0" style="margin-top:10%;">
    <div class="row w-100 mx-0">
      <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
          <h1 style="text-align:center">forgot password !</h1>
       
           
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><span class="mdi mdi-email"></span></div>
                </div>
               <input class="form-control form-control-lg" type="email" [(ngModel)]="email" placeholder="Email">
              </div>
            
              </div>
           
            <button class="btn-lg btn-block font-weight-medium" type="submit" (click)="resetpassword()">reset of password</button>
           
        
           
          
         
        </div>
      </div>
    </div>
  </div>
