<div class="d-flex align-items-center auth px-0" style="margin-top:10%;">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <h1 style="text-align:center">Find your Account !</h1>

        <form class="pt-3" [formGroup]="form">
          <div class="form-group">
            <mat-error *ngIf="invalid" >No account is associated with this Email !</mat-error>
            <mat-error
              *ngIf="(AddFormControl.workEmail.touched || submitted) && AddFormControl.workEmail.errors?.required">
              Email is required
            </mat-error>
            <mat-error *ngIf="AddFormControl.workEmail.touched && AddFormControl.workEmail.errors?.email">
              Enter a valid email address
            </mat-error>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><span class="mdi mdi-email"></span></div>
              </div>

              <input class="form-control form-control-lg" type="email" formControlName="workEmail" placeholder="Email">

            </div>

          </div>

          <button class="btn-lg btn-block font-weight-medium" type="submit" (click)="resetpassword()">Send
            Email</button>
        </form>





      </div>
    </div>
  </div>
</div>