<div class="example-container">
    <mat-dialog-content>

        <form [formGroup]="form" >
            <mat-error *ngIf="invalid" class="error" >Fill the required fields !</mat-error>
            <mat-form-field appearance="outline">
                <mat-label> Short Description </mat-label>
                <input matInput  placeholder=" short Description" formControlName="shortDescription">
                <mat-error *ngIf="(AddFormControl.shortDescription.touched || submitted) && AddFormControl.shortDescription.errors?.required">
                    Short  Description  is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Long Description </mat-label>
                <input matInput  placeholder=" Long Description"formControlName="longDescription">
                <mat-error *ngIf="(AddFormControl.longDescription.touched || submitted) && AddFormControl.longDescription.errors?.required">
                    Long  Description  is required
                </mat-error>
            </mat-form-field>

        </form>

    </mat-dialog-content>
    <mat-dialog-actions>

        <button   mat-raised-button mat-dialog-close color="warn">Cancel</button>  
        <button mat-raised-button color="primary" (click)="onsubmit()">{{action}}</button>

    </mat-dialog-actions>
</div>